/* Ensure the image in updates is smaller */
.update-item img {
    max-width: 300px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button.red {
    background-color: red;
}

/* Delete button styling */
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

.delete-button:hover {
    background-color: darkred;
}
