<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Update</title>
    <style>
        body {
            background-color: black;
            color: white;
            text-align: center;
        }
        form {
            margin-top: 50px;
        }
        input {
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Add Update</h1>
    <form method="POST">
        <input type="text" name="photo" placeholder="Photo URL"><br>
        <input type="text" name="text" placeholder="Text"><br>
        <input type="text" name="link" placeholder="Link URL"><br>
        <input type="submit" value="Add Update">
    </form>
</body>
</html>
