<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC MOVIES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img src="https://graph.org/file/c98341e9758f1b06ff808.jpg" alt="Logo" class="logo">
        <h1>PC MOVIES</h1>
        <a href="{{ url_for('admin') }}" class="admin-btn">+</a>
    </div>
    <div class="button-group">
        <a href="https://t.me/pcmoviegroup" class="btn red-btn">Movie Group</a>
        <a href="https://t.me/pcott" class="btn green-btn">PC OTT</a>
        <a href="{{ url_for('updates') }}" class="btn updates-btn">PC WEB UPDATES</a>
    </div>
</body>
</html>
