<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC WEB UPDATES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>PC WEB UPDATES</h1>
    <form action="{{ url_for('updates') }}" method="get">
        <input type="text" name="search" placeholder="Search updates">
        <button type="submit">Search</button>
    </form>

    {% for update in updates %}
    <div class="update">
        <div class="update-content">
            <img src="{{ update['photo'] }}" alt="Update Photo" class="update-photo">
            <p>{{ update['text'] }}</p>
            <a href="{{ update['link'] }}" class="btn click-here-btn">Click Here</a>
        </div>
        <form action="{{ url_for('delete_update', update_id=update['_id']) }}" method="post" class="delete-form">
            <input type="password" name="password" placeholder="Enter password to delete" required>
            <button type="submit" class="btn delete-btn">Delete</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>
